# Dependencies
vendor/
node_modules/

# IDE files
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
git_log_*.txt

# Temporary files
*.swp
*.swo
*~

# Docker image files
*.tar
*.zip
flavorconnect-api-image.*
flavorconnect-web-image.*
