.content {
    display: grid;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 0.5rem;
    place-items: center;
}

.content .form {
    padding: 1.5rem;
    gap: 0.75rem;
    margin: 0.5rem auto;
}

.content .form .form-header {
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem;
}

.content .form .form-group {
    gap: 0.25rem;
    margin-bottom: 0;
}

.content .form .form-footer {
    margin-top: 0.75rem;
}

@media (min-width: 480px) {
    .content .form {
        grid-template-columns: repeat(2, 1fr);
    }

    .content .form .form-header,
    .content .form .form-group:first-of-type,
    .content .form .form-group:nth-of-type(4),
    .content .form .form-group:nth-of-type(5),
    .content .form .form-group:nth-of-type(6),
    .content .form button.form-button,
    .content .form .form-footer {
        grid-column: 1 / -1;
    }
}

form + div {
    margin-top: 1rem;
    text-align: center;
}
